/*Body*/

body {margin:0;}

/* The navigation bar*/

.nav-link {
  overflow: hidden;
  background-color: #333
  position: fixed;
  top: 0;
  width: 100%
}

/*Links inside the navbar*/
.nav-link a {
  float: right;
  display: block;
  color: #f2f2f2
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Background over mouse hover*/
.nav-link a:hover {
  background: #ddd;
  color: black;
}

/* Main content*/
.main {
  margin-top: 30px; /* Top margin to avoid content overlay*/
}
